.bordered {
  border: solid 1px black;
}
.flex {
  display: flex;
}
* {
  box-sizing: border-box;
}
html {
  height: 100%;
  width: 100%;
}
html body {
  height: 100%;
  width: 100%;
}
html body #outer {
  height: 100%;
  justify-content: space-between;
  display: flex;
}
html body #outer .box:nth-child(3) {
  width: 100px;
  height: 100px;
  background-color: #DCDCDC;
  align-self: flex-end;
  justify-self: right;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: white;
}
html body #outer .box:nth-child(2) {
  width: 100px;
  height: 100px;
  background-color: lightgrey;
  align-self: center;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: white;
}
html body #outer .box:nth-child(1) {
  width: 100px;
  height: 100px;
  background-color: darkgrey;
  align-self: flex-start;
  justify-self: left;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: white;
}
