<div id="panel">
  <form method="POST" action="/users/login">
    <div id="formgroup">
      <input type="text" id="formusername" placeholder="Username" name="username">
    </div>
    <div id="formgroup">
      <input type="password" id="formpassword" placeholder="Password" name="password">
    </div>
    <button type="submit" id="button">Login</button>
  </form>
</div>