<div id="messages-panel" data-id="{{user_id}}">
  <div id="chat-list">
  </div>
  <div id="chat-content">
    <div id="chat-window">
      <ul id="chatbox" />
    </div>
    <div id="chat-actions">
      <input id="text" data-id="{{chatroom}}" autocomplete="off">&nbsp;
      <input id="send" data-id="{{chatroom}}" type="button" value="SEND">
    </div>
  </div>
</div>