<div id="navbar">
  <img id="logo" src="./assets/mu.png" />
  <div id="button">
    <p>Auctions</p>
  </div>
  <div id="button">
    <p>Messages</p>
  </div>
  <div id="logout-button">
    <p>Logout</p>
  </div>
</div>