<div id="navbar">
  <img id="logo" src="/assets/mu.png" />
  <div id="auctions-button" class="button">
    <p>Auctions</p>
  </div>
  <div id="messages-button" class="button">
    <p>Messages</p>
  </div>
  <div id="user-panel">
    <div id="profile-button" class="right-button">
      <p>Profile</p>
    </div>
    <div id="logout-button" class="right-button">
      <p>Logout</p>
    </div>
  </div>
</div>