<div id="navbar">
  <img id="logo" src="/assets/mu.png" />
  <div id="auctions-button" class="button">
    <p>Auctions</p>
  </div>
  <div id="user-panel">
    <div id="login-button" class="right-button">
      <p>Login</p>
    </div>
    <div id="register-button" class="right-button">
      <p>Register</p>
    </div>
  </div>
</div>