<div id="navbar">
  <img id="logo" src="../assets/mu.png" />
  <div id="button">
    <p>Auctions</p>
  </div>
  <div id="button">
    <p>Messages</p>
  </div>
  <div id="login-button">
    <p>Login</p>
  </div>
  <div id="register-button">
    <p>Register</p>
  </div>
</div>