<div id="user-panel">
  <div id="user-navigation">
    <div id="user-main" class="nav-button">Profile</div>
    <div id="user-auctions" class="nav-button">Your auctions</div>
    <div id="user-current" class="nav-button">Current auctions</div>
    <div id="user-finished" class="nav-button">Finished auctions</div>
  </div>
  <div id="user-content">
    <div id="user-info">
      Logged in as {{username}}
    </div>
  </div>
</div>