<div id="welcome">
  <h2>Welcome to MicroBay!</h2>
  <h3>
    First website dedicated to fake auctions!
  </h3>
  <p>
    This website was created using following technologies:
    </br>
    - Express.js
    </br>    
    - Socket.io
    </br>
    - Passport.js
    </br>
    - MongoDB
    </br>
    - LESS
    </br>
    - Handlebars.js
  </p>
</div>